body{
    text-align: center;
}

#top-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}
#top1{
    width: 50%;
    border: 2px solid black;
}
#top2{
    width: 50%;
    border: 2px solid black;
}

#startBalance{
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
}

#labelContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.label{
    width: 25%;
    border: 2px solid black;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
}

.month{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.bar{
    width: 75px;
    height: 10px;
    background-color: black;
    border-radius: 20px;
    margin: 10px;
}
#menuBtn{
    position: fixed;
    right: 0px;
    top: 0px;
    cursor: pointer;
}