@media(max-width: 600px){
  .month-label{
    font-size: 16px;
  }
 .labeled{
    font-size: 18px;
 }
 #menuContainer{
  width: 300px;
  height: 500px;
  z-index: 3;
 }
 .view{
  font-size: smaller;
  
 }
}

